.first {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.second {
    width: 25%;
    position: absolute;
    top: 80px;
    left: 380px;
}

body {
    width: 100%;
    height: auto;
    overflow: visible;
    margin: 0  0 auto;
}

.text {
    width: 100%;
    position: relative;
    margin-top: -20%;
    text-align: center;
    color: white;
}

.third {
    float: left;
    width: 33.33%;
    padding: 3px;
    box-sizing: border-box;
    background-origin: padding-box;
}

button {
    color: orange;
    contain: content;
}

.fast {
     float: left;
}
    

p {
    padding: 4px;
    text-align: justify;
}

h3 {
    padding-top: 4px;
    text-align: center;

}

.drinks {
    float: right;
}

.style {
    text-align: right;
}

.fifth {
    width: 100%;
    position: relative;
    top: 20px;
    left: 0;
    float: inline-start;
}

.sixth {
    left: 20px;
    right: 20px;
}

.end {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.text2 {
    width: 100%;
    position: relative;
    margin-top: -20%;
    text-align: center;
    color: white;
}

.text2 button {
    background-color: orangered;
}



